__pycache__/
/models/object_detection/data/videos-borden/borden2.avi
/models/object_detection/data/videos-borden/borden1.avi
/models/object_detection/data/videos-borden/borden3.avi
/models/object_detection/data/videos-borden/borden4.avi
/models/object_detection/data/videos-borden/borden5.avi
/models/object_detection/data/videos-borden/borden6.avi
/models/object_detection/data/videos-borden/bordenlatenzien.avi
/models/object_detection/data/videos-borden/bordenlicht.avi